.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #8a0fee; /* Dark background color */
    color: #f9f9f9; /* Light text color */
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #d01fe7; /* Red background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff; /* Light text color */
  }
  
  .login-link {
    padding: 5px 10px;
    background-color: #6699cc; /* Blue background color */
    border-radius: 5px;
    text-decoration: none;
    color: #fff; /* Light text color */
  }
  
  .user-info {
    margin-right: 10px;
  }
  
  .stars {
    margin-left: 5px;
  }
  